<div class="logo">
  <h1 style="font-size: 150px; text-align: center;">ChartIt</h1>
</div>

<form class='fileForm' action="/" method="POST" enctype="multipart/form-data" style="position: relative; top: 5em; text-align: center">
  <input type="file" name="file" class= 'chooseFile'>
  <input type="submit" class="btn btn-dark" type="button" value="Upload">
  <p class="hint" style="text-align: center; color: cornflowerblue; font-size: 15px; padding-top: 1em">Press upload to generate your graph</p>
</form>
